body {
	margin: 0px;
	padding: 0px;}
.hyperlink {	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#77701C;
	text-decoration: none;	}
a.hyperlink  :link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#77701C;
	text-decoration: none;}
a.hyperlink  :visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#77701C;
	text-decoration: none;}
a.hyperlink :hover {font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#77701C;
	text-decoration: underline;}

.emaillink {	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#616060;
	text-decoration: none;	}
a.emaillink :link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#616060;
	text-decoration: none;}
a.emaillink :visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#616060;
	text-decoration: none;}
a.emaillink :hover {font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#616060;
	text-decoration: underline;}
.naviglink {	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#666338;
	text-decoration: none;}
a.naviglink :link {font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#666338;
	text-decoration: none;}
a.naviglink :visited {font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#666338;
	text-decoration: none;}
a.naviglink :hover { font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#666338;
	text-decoration: underline;}
.sitemaplink {	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#EFECCA;
	text-decoration: none;	}
a.sitemaplink :link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#EFECCA;
	text-decoration: none;}
a.sitemaplink :visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#EFECCA;
	text-decoration: none;}
a.sitemaplink :hover {font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#EFECCA;
	text-decoration: underline;}
.footer {font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#EFECCA;
	text-decoration: none;}
.admfooter {font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#EFECCA;
	text-decoration: none;}
.photoalbumlink {	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color:#868261;
	text-decoration: none;	}
a.photoalbumlink   :link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color:#868261;
	text-decoration: underline;}
a.photoalbumlink   :visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color:#868261;
	text-decoration: none;}
a.photoalbumlink  :hover {font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#868261;
	font-weight: bold;
	text-decoration: underline;}
.photoalbumnormal {	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color:#FFFFFF;
	text-decoration: none;	}
.photoalbum1link {	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color:#FFFFFF;
	text-decoration: underline;	}
a.photoalbum1link   :link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color:#FFFFFF;
	text-decoration: underline;}
a.photoalbum1link   :visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color:#FFFFFF;
	text-decoration: underline;}
a.photoalbum1link  :hover {font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#FFFFFF;
	font-weight: bold;
	text-decoration: none;}
.bg1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#FFFFFF;
	font-weight: bold;
	text-decoration: none;
	background-color: #868261;
}
.bg2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#000000;
	font-weight: bold;
	text-decoration: none;
	background-color: #e0dfd7;
}
.normal_text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#000000;
	text-decoration: none;
}
.red_text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#FF0000;
	font-weight: bold;
	text-decoration: none;
}
.button {
	BACKGROUND-COLOR: #868261; COLOR: #FFFFFF; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 11px;
}.bold_text {	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#000000;
	font-weight: bold;
	text-decoration: underline;	}
	.bold_text_link {	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#FFFFFF;
	font-weight: bold;
	text-decoration: underline;	}
a.bold_text_link  :link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#FFFFFF;
	font-weight: bold;
	text-decoration: underline;}
a.bold_text_link  :visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#FFFFFF;
	font-weight: bold;
	text-decoration: underline;}
a.bold_text_link :hover {font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#FFFFFF;
	font-weight: bold;
	text-decoration: none;}
	
/* Design1079
/* Editor Styles listed below */
.heading {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color:#77701C;
	text-decoration: none;
	font-weight: bold;
}
.sub-heading {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color:#1F1D08;
	text-decoration: none;
	font-weight: bold;
}
.minor-heading {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color:#77701C;
	text-decoration: none;
	font-weight: bold;
}
.content-text-style-1 {font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#616060;
	text-decoration: none;}
.content-text-style-2 {font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#616060;
	text-decoration: none;}
.content-text-style-3 {font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#616060;
	text-decoration: none;}
.content-bold-text {font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#1F1D08;
	font-weight: bold;
	text-decoration: none;}
